{% load static %}
<div class="row mt-3  p-3">
    <div class="col-md-4 bg-dark text-light ">
        <h5>Address</h5>
        <hr>
        2nd floor, Landmark building, <br>
        Near FC road college, <br>
        pune - 411002, 
        Maharashtra, <br>
        contact-8787878787

    </div>
    <div class="col-md-4 bg-dark text-light">
        <h5>Quick links</h5>
        <hr>
        <a href="product.html" class="anchor text-light">Home</a> <br>
        <a href="about.html" class="anchor text-light">about</a> <br>
        <a href="contact.html" class="anchor text-light">Contact</a> <br>



    </div>
    <div class="col-md-4 bg-dark text-light">
        <h5 >Contact us</h5>
        <hr>
        <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="#" target="_blank"><i class="bi bi-twitter"></i></a>
        <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="#" target="_blank"><i class="bi bi-skype"></i></a>
    </div>
</div>

</div><!--footer section end-->
</div>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
</body>
</html>